In [37]:
import pandas as pd
import statistics
import numpy as np
import matplotlib.pyplot as plt
from math import sqrt

In [2]:
listx = [4, 4, 4, 4]

listy = [0, 8, 0, 8]

In [4]:
path = "https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/Housing.txt"

In [5]:
dfa = pd.read_table(path)

In [6]:
dfa

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,131770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [7]:
dfa['Yr Sold'].unique

<bound method Series.unique of 0       2010
1       2010
2       2010
3       2010
4       2010
        ...
2925    2006
2926    2006
2927    2006
2928    2006
2929    2006
Name: Yr Sold, Length: 2930, dtype: int64>

In [13]:
def find_range(la):
    return max(la) - min(la)

range_by_year  = {}

for year in dfa['Yr Sold'].unique():
    data_by_year = dfa[dfa['Yr Sold'] == year]
    range_by_year[year]  = find_range(data_by_year['SalePrice'])

In [14]:
range_by_year

{2010: 598868, 2009: 575100, 2008: 601900, 2007: 715700, 2006: 590000}

In [15]:
data_by_year

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
2305,2306,526302030,20,RL,NaN,11027,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,149900
2306,2307,526302040,20,RL,85.0,10533,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,157500
2307,2308,526302120,20,RL,NaN,11765,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,169000
2308,2309,526303060,20,RL,NaN,139384,Pave,NaN,IR1,Low,...,0,NaN,NaN,NaN,0,10,2006,WD,Abnorml,252000
2309,2310,526354020,20,RL,90.0,11727,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,3,2006,WD,Normal,192100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [19]:
c=[1,1,1,1,1,1,1,1,1,1,21]

# variability in c = 20

def average_distance(la):
    reference_point = sum(la)/len(la)
    
    distances = []
    for val in la:
        distances.append(val - reference_point)
        
    return sum(distances)/len(distances)

avg_distance = average_distance(c)

In [21]:
round(avg_distance,10)

-0.0

In [22]:
# mean squared distance 
# standard deviations

In [40]:
def standard_deviation(la):
    reference_point = sum(la)/len(la)
    
    distance = []
    for val in la:
        sq_dist = (val - reference_point)**2
        distance.append(sq_dist)
    
    variance = sum(distance)/len(distance)
    return sqrt(variance)



# measure the first variability for each year
years = {}

for year in dfa['Yr Sold'].unique():
    year_segment = dfa[dfa['Yr Sold'] == year]
    st_dev = standard_deviation(year_segment['SalePrice'])
    years[year] = st_dev

In [48]:
years.setdefault=

AttributeError: 'dict' object has no attribute 'sort_index'

In [43]:
dfa.groupby('Yr Sold').agg(np.std)['SalePrice']

Yr Sold
2006    82619.697853
2007    82542.774629
2008    75592.736534
2009    80856.804301
2010    74631.431308
Name: SalePrice, dtype: float64